.root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paper {
  flex-grow: 1;
  max-width: 450;
  padding: 40;
  box-sizing: border-box;
}

.userid {
  width: 100%;
}

.password {
  width: 100%;
}

.button {
  float: right;
}
